
.QuizzWrapper
  width: 100%
  text-align: center  
  font-size: 1em
  height: 100vh
  overflow-y: scroll
  background-color:#1995AD
  color: white
  font-family: 'Josefin Sans', sans-serif;
  margin: auto

.QuizzBadge
    margin-top: 1em
    font-size: 2.3em
    margin-bottom: 1em
    background-color: #333333
    font-family: 'Acme', sans-serif
    color: white
    border: 1px solid white

.QuizzTitle
    margin-left: 5em
    margin-right: 5em
    padding-top: 0.35em
    padding-bottom: 0.25em
    text-align: center
    color: white
    font-weight: bold
    box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)

.quizz-george
    width: 10%

.introduction
    text-align: center
    color: white
    font-size: 1.5em
    margin-bottom: 1.25em

.introduction p
    line-height: 1em

.quizz-wrapper
    display: flex
    justify-content: center
    

.quizz
    padding: 0.75em
    text-align: center
    width: 70%
    background-color:  #333333
    border: 1px solid white
    box-shadow: 10px 10px 41px -10px rgba(0,0,0,0.75)

.answers
    font-size: 1.25em
    width: 100%
    color:  white
    font-weight: bold
    margin-bottom: 2em
    margin-top: 1em

.answers ol
    display: flex
    justify-content: space-around
    flex-direction: row
    flex-wrap: nowrap

.question 
    text-decoration: underline
    text-align: left
    

.first-question
    color: white

.second-question
    color: white

.third-question
    color: white

.fourth-question
    color: white

.fifth-question
    color: white

.sixth-question
    color: white

.seventh-question
    color: white

.eighth-question
    color: white

.first-line
    margin-left: 0em

.second-line
    margin-left: 2em

.third-line
    margin-left: 2em

.fourth-line
    margin-left: 0em

.btn-div
    display: flex
    justify-content: center
    margin-top: 1em
    margin-bottom: 1em

.btn-quizz
    text-transform: uppercase
    font-weight: bold
    text-align: center
    border: 1px solid white
    border-radius: 0.5em
    font-size: 2em
    background-color: #333333
    margin-top: 0.5em
    margin-bottom: 1em
    padding: 0.5em
    padding-bottom: 0.35em
    box-shadow: 10px 10px 41px -10px rgba(0,0,0,0.75)

.btn-quizz:hover
    border: 1px solid white
    text-decoration: underline
    background-color: lime

.firstAnswers, .secondAnswers, .thirdAnswers, .fourthAnswers, .fifthAnswers, .sixthAnswers, .seventhAnswers, .eightAnswers 
    display: flex
    justify-content: space-around

.fifthAnswers
    line-height: 1em
    padding-left: 1em

.firstAnswers--right, .secondAnswers--right, .thirdAnswers--right, .fourthAnswers--right, .fifthAnswers--right, .sixthAnswers--right, .seventhAnswers--right
    background-color: #00a523
    border-radius: 1em
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75)
    padding-top: 0.5em

.firstAnswers--wrong, .secondAnswers--wrong, .thirdAnswers--wrong, .fourthAnswers--wrong, .fifthAnswers--wrong, .sixthAnswers--wrong, .seventhAnswers--wrong
    background-color: #ff4d4d
    border-radius: 1em
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75)
    padding-top: 0.5em

.answer-list
    text-align: left
    margin-left: 30%