
.wrapper
  font-family: 'Open Sans', sans-serif;
  
.textarea
  resize: none
  line-height: 1.5em
  font-size: 1em
  border: 1px solid #333333
  background-color: #333333
  color: #fcbd75
  max-width:90%
  margin-left: 1.5em

.textarea:focus, select:focus
  outline: none
  border: 1px solid grey

.code-editor
  display: flex
  background-color:#333333
  width: 100%
  
.code-content
  font-size: 1.2em
  max-width: 100%

.exo3-body
  margin-bottom: 0.7em

.rendu-exercice
    margin: 1em

.title-exe3
    text-transform: uppercase
    font-size: 2em

.subtitle-ex3
    margin-top: 1em
    margin-bottom: 1em
    font-size: 1.5em

.exo-p3
    margin-top: 1em
    font-size: 1.2em