.lessonWrapper
    background-color: #1995AD
    height 125vh
    border: 6px grey solid


.lessonsTitle
    position: relative
    top: 8%
    text-align: center
    border: 4px dashed white
    padding: 1.5em
    margin-left: 23%
    width: 55%
    font-size: 1.6em
    font-family: 'Josefin Sans', sans-serif
    color: white

.lessonBadges
    margin-left: auto
    margin-top: 15%
    display: flex
    justify-content: space-around
    
.htmlBadge, .cssBadge, .jsBadge, .phpBadge
    width: 15%
    padding: 2%
    font-size: 1.5em

.lessonButtons
    display: flex
    margin-top: 5%
    margin-left: 40%

.goBack, .reset
    width 15%
    padding: 1%
    font-size: 1.2em

.inactive
    color: white
    
.htmlBadge:hover
    text-decoration: underline

.planets
    margin-left: auto
    margin-top: 2em
    display: flex
    justify-content: space-around

.html-planet
    width: 15%
    height: 15%
    
.css-planet
    width: 20%
    height: 20%
    
.js-planet
    width: 15%
    height: 15%
    
.php-planet
    width: 15%
    height: 15%
