
.wrapper
  font-family: 'Open Sans', sans-serif;

//Left side

.textarea
  resize: none
  line-height: 1.5em
  font-size: 1em
  border: 1px solid #333333
  background-color: #333333
  color: #fcbd75
  width: 90%
  margin-left: 1.5em

.textarea:focus, select:focus
  outline: none
  border: 1px solid grey
  
.exercice-form
  width: 100%
  
.code-editor
  display: flex
  background-color:#333333
  width: 100%
  
.code-content
  font-size: 1.1em
  width: 100%


//Right side
.exercice7-george
    width: 30%

.ul-e7
  list-style-type: disc
  margin-left: 2em

 