
.intro-wrapper
  width: 100%
  text-align: center  
  font-size: 1em
  height: 100vh
  overflow-y: scroll
  background-color:#1995AD
  color: white
  font-family: 'Josefin Sans', sans-serif;
  margin: auto

.crash
    margin-top: 0em
    margin-bottom: 0em
    max-width: 50%


.premise
    font-style: italic

.text
    margin: 2em
    margin-bottom: 0em
    margin-top: 0.25em
    color: white
    font-size: 1.25em

.text p
    margin-bottom: 0.35em
    padding-top: 0em
    padding-bottom: 0em
    margin-left: 3em
    

.text h1
    margin-top: 1em
    text-align: center
    font-weight: bold
    text-decoration: underline

.premier-p
    margin-top: 1em

.dark
    color: #e0e0e0

.intro 
    margin-bottom: 2em
    margin-top: 2em

.arrow-intro
    margin-top: 1em
    margin-left: 45%