.ul-l4
    margin-left: 2em
    list-style-type: disc

.li-l4
    margin-left: 4em

.my-li-l4
    margin-left: 5em


.ol-l4
    margin-left: 2em
    list-style-type: decimal

.content-l4
    margin-left: 30%
    margin-top: 35%
    font-family: 'Open Sans', sans-serif;

.george-dial h1
	text-transform: uppercase
	font-weight: bold
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em

.lesson-left h2
  font-size: 1.5em
	text-transform: uppercase
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em

