.wrapper
  font-family: 'Josefin Sans', sans-serif;

// left-part

.lesson-george
  width: 200px
  margin-bottom: 10px

.lesson-left 
    width: 50%
    position: fixed
    text-align: center  
    font-size: 1em
    height: 100vh
    overflow-y: scroll
    background-color:#1995AD
    color: white
    font-family: 'Josefin Sans', sans-serif;

.george-dial h1
	text-transform: uppercase
	font-weight: bold
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em
  
  

.lesson-left h2
	text-transform: uppercase
	font-size: 1.5em
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em

.lesson-left p
    line-height: 1.2em
    font-size: 1.3em
    color: white

.header-secondLesson
  border: 2px #d3d3d3 solid
  box-shadow: 3px 7px 42px 0px rgba(0,0,0,0.75)
  background-color: lightgrey

.header-p 
  text-align: center

.second-lesson-main-title
  text-align: center
  font-size: 4em
  margin-top: 4%

.second-lesson-second-title
  font-size: 3.5em
  text-align: center

.third-title
  font-size: 3em
  text-align: center

.forth-title
  font-size: 2.5em
  text-align: center

.fifth-title
  font-size: 2em
  text-align: center

.sixth-title
  font-size: 1.5em
  text-align: center