.div-l3
    margin-left: 2em

.p-l3
    margin-left: 4em

.my-p-l3
    margin-left: 5em


.p-l3-right
    margin-top: 35%
    margin-left: 23%
    width: 50%

.div-l3-right
    position: absolute
    margin-left: 40%
    margin-top: -10%

.george-dial h1
	text-transform: uppercase
	font-weight: bold
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em

.lesson-left h2
  font-size: 1.5em
	text-transform: uppercase
	border: 1px solid black
	box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75)
	padding:0.4em

